.col {
    display: flex;
    justify-content: center;
}

.card {
    width: 500px;
}

button {
    margin-top: 10px;
}

input, select {
    border: 1px solid darkgray;
    border-radius: 4px;
    width: 450px;
    height: 40px;
    padding: 10px;
}

textarea {
    border: 1px solid darkgray;
    border-radius: 4px;
    height: 100px;
    width: 450px;
}

label {
    font-weight: bold;
}